<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzc.springBootTest.dao.TokenDao">
  <select id="findUser" resultType="com.wzc.springBootTest.bean.User">
    select * from user 
  </select>
  <insert id="insert">
  	insert into user (username, password) values ('zhangsan','123456');
  	insert into user (username, password) values ('lisi','123456');
  	insert into role (name, code) values ('ABCD','abcd');
  	insert into role (name, code) values ('AAAA','aaaa')
  </insert>
</mapper>